# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
tags
gui
headless

moc_*
ui_*

qt/qtgui
