# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
tags
headless
qt/qtgui

# Qt stuff
*_automoc.cpp
moc_*
ui_*
*.cxx
*.qrc.depends
